
@font-face {
    font-family:"HK Grotesk Light";
    src:url("HKGrotesk-Light.woff2") format("woff2"),url("HKGrotesk-Light.woff") format("woff"),url("HKGrotesk-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        