html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%
}

body {
  font-family: $font-primary;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.box {
  max-width: 1100px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  &--width {
    max-width: 1125px;
  }

  @include media(mobile) {
    margin-top: 82px;
  }
}
