
@font-face {
    font-family:"HK Grotesk Bold";
    src:url("HKGrotesk-Bold.woff2") format("woff2"),url("HKGrotesk-Bold.woff") format("woff"),url("HKGrotesk-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        