@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url('/src/assets/fonts/HKGrotesk-Bold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'HKGrotesk-Light';
  src: url('/src/assets/fonts/HKGrotesk-Light.otf') format('opentype');
  font-weight: 400;
}

// $font-primary: 'lato', sans-serif;
$font-primary: 'HKGrotesk-Light', Arial, sans-serif;
$font-bold: 'HKGrotesk-Bold', sans-serif;
